<!DOCTYPE html>
<html>
    <head>
        <title>Note ton prof</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.4.5/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    </head>
    <body>
        <div id="App" class="container">
            <div class="row fill-height">
                <div class="col">
                    <div class="d-flex">
                        <button @click="setToday" class="mr-4 btn btn-outline-primary">Aujourd'hui</button>
                        <button @click="prev" type="button" class="btn btn-default" aria-label="Left Align">
                            <v-icon small>mdi-chevron-left</v-icon>
                        </button>
                        <button @click="next" type="button" class="btn btn-default" aria-label="Left Align">
                            <v-icon small>mdi-chevron-right</v-icon>
                        </button>
                        <div v-if="$refs.calendar">
                            {{ $refs.calendar.title }}
                        </div>
<!--                         
                        <select class="form-control d-inline ml-auto" v-model="typeSelected">
                            <option v-for="type in types" :key="type.key" :value="type">
                                {{ type.name }}
                            </option>
                        </select> -->
                        <div class="ml-auto btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ typeSelected.name }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button 
                                    v-for="type in types" :key="type.key" 
                                    @click="typeSelected = type" 
                                    class="dropdown-item" type="button"
                                >{{ type.name }}</button>
                            </div>
                        </div>
                    </div>
                    
                    <v-calendar
                        ref="calendar"
                        :hide-header="false"
                        :interval-height="40"
                        :interval-width="40"
                        :short-weekdays="false"
                        v-model="focus"
                        color="red"
                        :events="events"
                        event-overlap-mode="column"
                        :event-color="getEventColor"
                        :type="typeSelected.key"
                        :interval-minutes= 60 
                        :first-interval= 7
                        :interval-count= 12
                        @click:event="showEvent"
                        @click:more="viewDay"
                        @click:date="viewDay"
                        @change="updateRange"
                    ></v-calendar>
                    <v-menu
                        v-model="selectedOpen"
                        :close-on-content-click="false"
                        :activator="selectedElement"
                        offset-x
                    >
                        <v-card
                            color="grey lighten-4"
                            min-width="350px"
                            flat
                        >
                        <v-toolbar :color="selectedEvent.color" dark>
                            <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                            <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn icon><v-icon>mdi-heart</v-icon></v-btn>
                            <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
                        </v-toolbar>

                        <v-card-text><span v-html="selectedEvent.details"></span></v-card-text>

                        <v-card-actions>
                            <v-btn
                            text
                            color="secondary"
                            @click="selectedOpen = false"
                            >Annuler</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-menu>
                </div>
            </div>
        </div>

        <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <script>
            var app = new Vue({
                el:"#App",
                vuetify: new Vuetify({
                    lang: {
                        current: 'fr',
                    },
                }),
                
                data:{
                    focus: "",
                    typeSelected: { key: "day", name: "Jour" },
                    types: [
                        { key: "day", name: "Jour" },
                        { key: "week", name: "Semaine" },
                        { key: "month", name: "Mois" },
                    ],
                    selectedEvent: {},
                    selectedElement: null,
                    selectedOpen: false,
                    events: [],
                    colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
                    names: ["Evenement"],
                },

                mounted() {
                    this.$refs.calendar.checkChange()
                },
                methods:{
                    getCours(period) {
                        axios.get(`/api/cours/${period}`)
                        .then(response => {
                            let cours = response.data
                            let events = []

                            cours.forEach(element => {                                
                                events.push({
                                    name: `[${element.matiere.reference}] ${element.matiere.titre} ${element.type} ${element.salle.numero} ${this.fullName(element.professeur)}`,
                                    start: this.convertirDate(element.dateHeureDebut),
                                    end: this.convertirDate(element.dateHeureFin),
                                    color: "red",
                                    timed: true,
                                })
                            })
                            this.events = events
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    },

                    convertirDate(date) {
                        let arrayDate = date.split(" ")
                        let day = arrayDate[0]
                        let time = arrayDate[1]
                        time = time ? " " + time : ""

                        day = day.split("-").reverse().join("-")
                        return day + time
                    },
                    fullName(professeur) {
                        return professeur.prenom + " " + professeur.nom
                    },

                    // Vuetify
                    viewDay ({ date }) {
                        console.log(date)
                        this.focus = date
                        this.typeSelected = { key: "day", name: "Jour" }
                    },
                    getEventColor (event) {
                        console.log(event.color)
                        return event.color
                    },
                    setToday () {
                        this.focus = ''
                    },
                    prev () {
                        this.$refs.calendar.prev()
                    },
                    next () {
                        this.$refs.calendar.next()
                    },
                    showEvent ({ nativeEvent, event }) {
                        const open = () => {
                            this.selectedEvent = event
                            this.selectedElement = nativeEvent.target
                            setTimeout(() => {
                                this.selectedOpen = true
                            }, 10)
                        }

                        if (this.selectedOpen) {
                            this.selectedOpen = false
                            setTimeout(open, 10)
                        } else {
                            open()
                        }

                        nativeEvent.stopPropagation()
                    },
                    updateRange ({ start, end }) {
                        let dateStartFR = this.convertirDate(start.date)
                        let dateEndFR = this.convertirDate(end.date)
                        let urlParaM = `between/${dateStartFR}/${dateEndFR}`

                        this.getCours(urlParaM)
                    },
                },
            });
        </script>
    </body>
</html>