<!DOCTYPE html>
<html>
    <head>
        <title>Note ton prof</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="custom.css">
    </head>
    <body>
        <div id="App" class="container">
            <div class="row fill-height">
                <div class="col">
                    <div class="d-flex">
                        <button @click="setToday" class="mr-4 btn btn-outline-primary">Aujourd'hui</button>
                        <button @click="prev" type="button" class="btn btn-default" aria-label="Left Align">
                            <v-icon small>mdi-chevron-left</v-icon>
                        </button>
                        <button @click="next" type="button" class="btn btn-default" aria-label="Left Align">
                            <v-icon small>mdi-chevron-right</v-icon>
                        </button>
                        <div v-if="$refs.calendar">
                            {{ $refs.calendar.title }}
                        </div>
                        <!-- <div class="ml-auto btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ typeSelected.name }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button 
                                    v-for="type in types" :key="type.key" 
                                    @click="typeSelected = type" 
                                    class="dropdown-item" type="button"
                                >{{ type.name }}</button>
                            </div>
                        </div> -->
                    </div>
                    
                    <v-sheet height="600">
                        <v-calendar
                            ref="calendar"
                            v-model="focus"
                            color="primary"
                            :events="events"
                            event-overlap-mode="column"
                            :event-color="getEventColor"
                            :type="typeSelected.key"
                            @click:event="showEvent"
                            @click:more="viewDay"
                            @click:date="viewDay"
                            @change="updateRange"
                        ></v-calendar>
                        <v-menu
                            v-model="selectedOpen"
                            :close-on-content-click="false"
                            :activator="selectedElement"
                            offset-x
                        >
                            <v-card
                                color="grey lighten-4"
                                min-width="350px"
                                flat
                            >
                            <v-toolbar :color="selectedEvent.color" dark>
                                <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                                <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-btn icon><v-icon>mdi-heart</v-icon></v-btn>
                                <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
                            </v-toolbar>

                            <v-card-text><span v-html="selectedEvent.details"></span></v-card-text>

                            <v-card-actions>
                                <v-btn
                                text
                                color="secondary"
                                @click="selectedOpen = false"
                                >Annuler</v-btn>
                            </v-card-actions>
                            </v-card>
                        </v-menu>
                    </v-sheet>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <script>
            var app = new Vue({
                el:"#App",
                vuetify: new Vuetify({
                    lang: {
                        current: 'fr',
                    },
                }),
                
                data:{
                    dayShown: 0,

                    focus: "",
                    typeSelected: { key: "day", name: "Jour" },
                    types: [
                        { key: "day", name: "Jour" },
                        { key: "week", name: "Semaine" },
                        { key: "month", name: "Mois" },
                    ],
                    selectedEvent: {},
                    selectedElement: null,
                    selectedOpen: false,
                    events: [],
                    colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
                    names: ["Evenement"],
                },

                mounted() {
                    // this.getCours()
                    this.$refs.calendar.checkChange()
                },
                methods:{
                    getCours(period) {
                        axios.get(`/api/cours/${period}`)
                        .then(response => {
                            let cours = response.data
                            let events = []

                            cours.forEach(element => {                                
                                events.push({
                                    name: `[${element.matiere.reference}] ${element.matiere.titre} {element.matiere.type} ${element.salle.numero} ${this.fullName(element.professeur)}`,
                                    start: this.convertirDate(element.dateHeureDebut),
                                    end: this.convertirDate(element.dateHeureFin),
                                    color: "red",
                                    timed: true,
                                })
                            })
                            this.events = events
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    },

                    convertirDate(date) {
                        let arrayDate = date.split(" ")
                        let day = arrayDate[0]
                        let time = arrayDate[1]
                        time = time ? " " + time : ""

                        day = day.split("-").reverse().join("-")
                        return day + time
                    },
                    fullName(professeur) {
                        return professeur.prenom + " " + professeur.nom
                    },





                    // Vuetify
                    viewDay ({ date }) {
                        this.focus = date
                        this.type = 'day'
                    },
                    getEventColor (event) {
                        return event.color
                    },
                    setToday () {
                        this.focus = ''
                    },
                    prev () {
                        this.$refs.calendar.prev()
                        this.dayShown--
                    },
                    next () {
                        this.$refs.calendar.next()
                        this.dayShown++
                    },
                    showEvent ({ nativeEvent, event }) {
                        const open = () => {
                            this.selectedEvent = event
                            this.selectedElement = nativeEvent.target
                            setTimeout(() => {
                                this.selectedOpen = true
                            }, 10)
                        }

                        if (this.selectedOpen) {
                            this.selectedOpen = false
                            setTimeout(open, 10)
                        } else {
                            open()
                        }

                        nativeEvent.stopPropagation()
                    },
                    updateRange ({ start, end }) {
                        console.log(start)
                        console.log(end)
                        let dateStartFR = this.convertirDate(start.date)
                        let dateEndFR = this.convertirDate(end.date)
                        let urlParaM = `between/${dateStartFR}/${dateEndFR}`

                        this.getCours(urlParaM)


                        // const events = []

                        // const min = new Date(`${start.date}T00:00:00`)
                        // const max = new Date(`${end.date}T23:59:59`)
                        // const days = (max.getTime() - min.getTime()) / 86400000
                        // const eventCount = this.rnd(days, days + 20)

                        // for (let i = 0; i < eventCount; i++) {
                        //     const allDay = this.rnd(0, 3) === 0
                        //     const firstTimestamp = this.rnd(min.getTime(), max.getTime())
                        //     const first = new Date(firstTimestamp - (firstTimestamp % 900000))
                        //     const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
                        //     const second = new Date(first.getTime() + secondTimestamp)

                        //     events.push({
                        //         name: this.names[this.rnd(0, this.names.length - 1)],
                        //         start: first,
                        //         end: second,
                        //         color: this.colors[this.rnd(0, this.colors.length - 1)],
                        //         timed: !allDay,
                        //     })
                        // }

                        // this.events = events
                    },
                    rnd (a, b) {
                        return Math.floor((b - a + 1) * Math.random()) + a
                    },
                },
            });
        </script>
    </body>
</html>